In [75]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [83]:
def clear_arr():
    product_title_arr.clear()
    product_price_arr.clear()

In [100]:
def replace_str(string, old_string, new_string):
    
    string = string.replace(f"{old_string}", f"{new_string}" )
    
    return string

In [109]:
#Import URL starting from page 1
product_title_arr = []
product_price_arr = []

clear_arr()

for i in range(1,4):
    url = f'https://webscraper.io/test-sites/e-commerce/static/computers/tablets?page={i}'
    response = requests.get(url)
    response = response.content
    soup = BeautifulSoup(response,'html.parser')
    product_titles = soup.find_all('p', {"class": "description"})
    product_prices = soup.find_all('h4', {"class": "pull-right price"})

    for product_title in product_titles:
        product_title_arr.append(product_title)
        

    for product_price in product_prices:
        product_price_arr.append(product_price)

In [110]:
dataset = pd.DataFrame({'Product': product_title_arr, 'Price': product_price_arr}, columns=['Product', 'Price'])
dataset

                                              Product      Price
0                                [7" screen, Android]   [$69.99]
1                          [7" screen, Android, 16GB]   [$96.99]
2                           [7" screen, Android, 8GB]  [$102.99]
3                                   [6" screen, wifi]  [$103.99]
4                    [Wi-Fi + Cellular, 32GB, Silver]  [$537.99]
5   [Black, 7" IPS, Quad-Core 1.2GHz, 8GB, Android...   [$88.99]
6                                       [16GB, White]  [$251.99]
7   [Blue, 7" IPS, Quad-Core 1.3GHz, 8GB, 3G, Andr...  [$148.99]
8                [7", 8GB, Wi-Fi, Android 4.2, White]   [$97.99]
9             [12.2", 32GB, WiFi, Android 4.4, White]  [$489.99]
10         [White, 7", Atom 1.2GHz, 8GB, Android 4.4]  [$130.99]
11      [LTE (SM-T235), Quad-Core 1.2GHz, 8GB, Black]  [$233.99]
12              [7", 8GB, Wi-Fi, Android 4.2, Yellow]  [$107.99]
13          [IPS, Dual-Core 1.2GHz, 8GB, Android 4.3]  [$101.99]
14                               [10.1", 32GB, Black]  [$587.99]
15  [White, 10.1" IPS, 1.6GHz, 2GB, 16GB, Android ...  [$320.99]
16  [Silver, 7" IPS, Quad-Core 1.2Ghz, 16GB, 3G, A...  [$172.99]
17    [Black, 7", 1.6GHz Dual-Core, 8GB, Android 4.4]   [$99.99]

In [ ]:
clear_arr()

In [80]:
def export_csv(filename):
    dataset.to_csv(f'{filename}')
    print(f"{filename} exported successfully!")

In [81]:
export_csv("TEST.csv")

TEST.csv exported successfully!